

.slider{
    position: relative;
    top: 100px;
    left: 450px;
    width: fit-content;
    background-color: rgb(233, 196, 196);
    display: flex;
    padding: 20px;
    gap: 10px;
}
.frame-list{
    width: 1000px;
    height: 600px;
    background-color: rgb(102, 102, 105);
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.frames{
    display: flex;
    justify-content: space-around;
}
.frameBtn{
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background-color: azure;
    border: 1px solid black;
}
.btn-list{
    position: relative;
    display: flex;
    gap: 10px;
    margin: 0 400px;
}
.green{
    background-color: green;
}

.center ,.left, .right{
    margin-top: 160px;
    width: 280px;
    height: 280px;
    border-color: black;
    
}

.periferi{
    width: 60px;
    height: 80px;
}

.green{
    background-color: green;
}